<?xml version="1.0"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
<channel>
	<title>Developers Planet</title>
	<link>https://devplanet.one.pl/</link>
	<language>en</language>
	<description>Developers Planet - https://devplanet.one.pl/</description>
	<atom:link rel="self" href="https://devplanet.cf/rss20.xml" type="application/rss+xml"/>

{% for post in posts %}
<item>
	<title>{{ post.author}}: {{ post.title }}</title>
	<guid isPermaLink="false">tag:{{ post.blog_url }},{{ post.published_date | date('%Y-%m-%d') }}:{{ post.url }}</guid>
	<link>{{ post.url }}</link>
	<description>{{ post.post | escape }}</description>
	<pubDate>{{ post.published_date | date('%a, %d %b %Y %T +0000') }}</pubDate>
</item>
{% endfor %}
</channel>
</rss>
